* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    line-height: 2.1;
    background-color: #f8f8f8; 
    color: #030303;
  }
  
  header {
    background-color: #333074; 
    color: white; 
    padding: 15px 20px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  
  .logo {
    font-size: 1.9em; 
    font-weight: bold; 
  }
  
  nav ul {
    list-style: none; 
    display: flex; 
  }
  
  nav ul li {
    margin-left: 20px; 
  }
  
  nav ul li a {
    color: white; 
    text-decoration: none; 
    padding: 5px 10px;
    border-radius: 5px; 
    transition: background-color 0.3s; 
  }
  
  nav ul li a:hover {
    background-color: #6587ac; 
  }
  
  .hero {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    background-image: url('Keramba\ Jaring\ Apung\ \(1\).jpg'); 
    background-position: center; 
    text-align: center; 
    position: relative; 
  }
  
  .hero-text {
    z-index: 1; 
    padding: 20px;
  }
  
  .hero-image {
    max-width: 100%; 
    height: auto;
    margin: 20px 0; 
  }
  
  .cta-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #15702d; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
  }
  
  .cta-btn:hover {
    background-color: #e12712; 
    transform: scale(1.05); 
  }
  
  .content {
    padding: 40px; 
    max-width: 1200px; 
    margin: auto; 
  }
  
  .card-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
  }
  
  .card {
    background: white; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    margin: 10px; 
    padding: 20px; 
    flex: 1; 
    min-width: 200px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s; 
  }
  
  .card:hover {
    transform: scale(1.05); 
  }
  
  .card img {
    max-width: 100%; 
    height: auto; 
    border-radius: 5px; 
  }
  
  .title {
    margin: 15px 0; 
    font-size: 1.2em; 
  }
  
  #contact {
    background-color: #88bbef; 
    padding: 40px; 
    text-align: center; 
  }